.until {
    margin: 25 px;
    max-width: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    padding: 1em;
    background: #eb8a4a;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.3); 
    color: #333;
    font-family: sans-serif;

}

.until__component{
    text-align: center;
    background: #ffff;
    border-radius: 5px;
}

.until__numeric{
    color: #333333;
    padding: .5em 0;
    font-size: 3em; 
    font-weight: bold;
}

.until__unit {
    font-size: 1.2em;
    padding-bottom: 1em;
    font-weight: bold;
    color: #eb8a4a;
}

.until__event {
    grid-column: span 4;
    text-align: center;
    color: #ffff;
    font-weight: bold;
}

img {
    border-radius: 5%;
}

#myProgress {
    width: 100%;
    background-color: grey;
    height: 30px;
  }
  
  #myBar {
    width: 0%;
    height: 30px;
    background-color: #eb8a4a;
  }
